extends layout

block head
  link(rel='stylesheet', href='stylesheets/bestellen.css')
block content
  div(class="main")
    div(class="form overview")
      div
        img(src="/images/clixxie_logo.png")
      div
        hr
        h1= title
        a(href="/album")
          u Neue Bestellung