extends layout
block head
  script(src="//raw.githubusercontent.com/guillaumepotier/Parsley.js/master/dist/parsley.min.js")
  script(src="//raw.githubusercontent.com/guillaumepotier/Parsley.js/master/src/i18n/de.js")
  script(type='text/javascript').
    $(document).ready(function() {
    });
  link(rel='stylesheet', href='//raw.githubusercontent.com/guillaumepotier/Parsley.js/master/src/parsley.css', type='text/css')
block content
  h1= title
  form(data-parsley-validate, method="POST", action="/form")
    label(for="email").
      E-Mail
    input(type="email", name="email" required)
    label(for="name").
      Vorname
    input(type="text", name="name" required)
    label(for="surname").
      Name
    input(type="text", name="surname" required)
    label(for="company").
      Firma
    input(type="text", name="company")
    label(for="street").
      Stra&szlig;e u. Hausnummer
    input(type="text", name="street" required)
    label(for="zip_code").
      PLZ
    input(type="text", name="zip_code" required)
    label(for="city").
      Ort
    input(type="text", name="city" required)
    label(for="country_code").
      Land
    select(id="country_code", name="country_code", required)
      option(value="DE").
        Deutschland
      option(value="AT").
        &Ouml;sterreich
      option(value="CH").
        Schweiz
    label(for="payment_type_id").
      Zahlungsart
    p
      span.
        PayPal
      input(type="radio", name="payment_type_id", id="payment_type_paypal", value="4" required checked)
      span.
        Invoice
      input(type="radio", name="payment_type_id", id="payment_type_invoice", value="1")    
    label(for="quantity").
      Menge
    input(name="quantity", type="number" required)
    label(for="voucher_code").
      Gutschein-Code
    input(name="voucher_code", type="text")
    input(type="submit" value="Abschicken")
