extends layout

block head
  script(src="/libs/parsleyjs/dist/parsley.min.js", type="text/javascript")
  script(src="/libs/parsleyjs/src/i18n/de.js", type="text/javascript")
  script(type='text/javascript').
    $(document).ready(function() {
      checkPaymentMethod();
      $('#country_code').on( 'change', function() {
        checkPaymentMethod();
      });
      function checkPaymentMethod()
      {
        var newValue = $('#country_code').val();
        if ( ['DE', 'AT', 'CH'].indexOf( newValue ) > -1 ) 
        {
          $('#payment_type_invoice').attr('disabled', false);
        }
        else
        {
          $('#payment_type_invoice').attr('disabled', true);
          $('#payment_type_paypal').prop('checked', true);
        }
      }
    });
  link(rel='stylesheet', href='/libs/parsleyjs/src/parsley.css', type='text/css')
  link(rel='stylesheet', href='stylesheets/bestellen.css')
block content
  div(class="main")
    div(class="form")
      div
        img(src="/images/clixxie_logo.png")
      div
        a(href="/album")
          u Zur&uuml;ck zum Fotobuch
        hr
        h1= title
      form(data-parsley-validate, method="POST", action="/form")
        div
            label(for="email") E-Mail
            input(type="email", name="email" required)
        div
            label(for="name") Vorname
            input(type="text", name="name" required)
        div
            label(for="surname") Name
            input(type="text", name="surname" required)
        div
            label(for="company") Firma
            input(type="text", name="company")
        div
            label(for="street") Stra&szlig;e u. Hausnummer
            input(type="text", name="street" required)
        div
            label(for="district") Grafschaft
            input(type="text", name="district")
        div
            label(for="zip_code") PLZ
            input(type="text", name="zip_code" required)
        div
            label(for="city") Ort
            input(type="text", name="city" required)
        div
            label(for="country_code") Land
            select(id="country_code", name="country_code", required)
              option(value="DE") Deutschland
              option(value="AT") &Ouml;sterreich
              option(value="CH") Schweiz
              option(value="FR") Frankreich
              option(value="IT") Italien
              option(value="NL") Niederlande
              option(value="BE") Belgien
              option(value="NO") Norwegen
              option(value="FI") Finnland
              option(value="SE") Schweden
              option(value="DK") D&auml;nemark
              option(value="GB") Vereinigtes K&ouml;nigreich
              option(value="IE") Irland
              option(value="LU") Luxemburg
              option(value="CZ") Tschechien
              option(value="PL") Polen
              option(value="HU") Ungarn
              option(value="ES") Spanien
              option(value="PT") Portugal
              option(value="SK") Slowakei
              option(value="SI") Slowenien
              option(value="HR") Kroatien
        hr
        div
            b Zahlungsart
            div
              label(for="payment_type_paypal") PayPal
              input(type="radio", name="payment_type_id", id="payment_type_paypal", value="2" required checked)
            div
              label(for="payment_type_invoice") Auf Rechnung (+ 1,50 &euro;)
              input(type="radio", name="payment_type_id", id="payment_type_invoice", value="1")    
        hr
        div
            label(for="quantity") Menge
            input(name="quantity", type="number", min="1", max="30", value="1" required)
        div
            label(for="voucher_code") Gutschein-Code
            input(name="voucher_code", type="text" value="EHC850")
        hr
        div
            input(name="agb", type="checkbox" required)
            label(for="agb") Ja, ich stimme den 
              a(href="http://bit.ly/1Hpgwy3" target="_blank") AGB
              span &nbsp; und den 
              a(href="http://bit.ly/1HphHgN" target="_blank") Datenschutzbestimmungen
              span &nbsp; zu.
        div
            input(type="submit" value="Zur Bestellübersicht")
